
@{
    ViewData["Title"] = "Image";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<main>
    <section class="text-center " id="title">
        <div class="title">
            <h1>Image</h1>
            <h6>Inspiration comes of working every day.</h6>
            <a href="https://localhost:44375/home">Home</a>
            <span><i class="fas fa-chevron-right"></i></span>
            <a href="#">Shortcodes</a> <span><i class="fas fa-chevron-right"></i></span>
            <a href="https://localhost:44375/image">Images</a>
        </div>


    </section>

    <section id="rounded-img">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>Rounded</h1>
                    <p>Add classes to an <code> img</code> element to easily style images in any project.</p>
                    <img src="..//img/550x240.png" alt="">
                </div>
                <div class="col-6">
                    <h1>Rounded (Responsive)</h1>
                    <p>Add classes to an <code> img</code> element to easily style images in any project.</p>
                    <img src="..//img/550x240.png" alt="">
                </div>
            </div>
        </div>




    </section>

    <section id="circle">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h1>Circle</h1>
                    <p>Add classes to an <code>img</code>  element to easily style images in any project.</p>
                    <img src="../img/300x300.png" alt="">
                </div>
                <div class="col-4">
                    <h1>Circle</h1>
                    <p>Add classes to an <code>img</code>  element to easily style images in any project.</p>
                    <img src="../img/300x300.png" alt="">
                </div>
                <div class="col-4">
                    <h1>Circle</h1>
                    <p>Add classes to an <code>img</code>  element to easily style images in any project.</p>
                    <img src="../img/300x300.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="thumbnail">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h1>Thumbnail</h1>
                    <p>Add classes to an <code>img</code> element to easily style images in any project.</p>
                    <img src="..//img/400x250.png" alt="">
                </div>
                <div class="col-4">
                    <h1>Thumbnail</h1>
                    <p>Add classes to an <code>img</code> element to easily style images in any project.</p>
                    <img src="..//img/400x250.png" alt="">
                </div>
                <div class="col-4">
                    <h1>Thumbnail</h1>
                    <p>Add classes to an <code>img</code> element to easily style images in any project.</p>
                    <img src="..//img/400x250.png" alt="">
                </div> <div class="col-4"></div>
            </div>
        </div>

    </section>


</main>

