
@{
    ViewData["Title"] = "Buttons";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

    <main>
        <section class="text-center " id="title">
            <div class="title">
                <h1>Buttons </h1>
                <h6>Inspiration comes of working every day.</h6>
                <a href="https://localhost:44375/home">Home</a>
                <span><i class="fas fa-chevron-right"></i></span>
                <a href="#">Shortcodes</a> <span><i class="fas fa-chevron-right"></i></span>
                <a href="https://localhost:44375/buttons">Buttons</a>
            </div>
        </section>
        <section id="buttons">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="left-nav">
                            <label>Elements</label>
                            <ul>
                                <li><a href="https://localhost:44375/accordion">Accordions</a> </li>
                                <li><a href=""> Alerts</a></li>
                                <li><a href="">Animations</a> </li>
                                <li><a href="">Audio & Video</a></li>
                                <li><a href="">Blockquotes</a> </li>
                                <li><a href="">BS Notify<span class="badge badge-danger">NEW</span></a> </li>
                                <li><a href="">Breadcrumbs</a> </li>
                                <li><a href="https://localhost:44375/buttons">Buttons</a> </li>
                                <li><a href="">Clients logos</a> </li>
                                <li><a href=""> Call to action</a></li>
                                <li><a href="">Carousel</a> </li>
                                <li><a href="">Code</a> </li>
                                <li><a href="">Countdown Timers</a> </li>
                                <li><a href="">Countdown<span class="badge badge-danger">NEW</span></a> </li>
                                <li><a href="">Counter Numbers</a> </li>
                                <li><a href=""> Dropcat & Highlight</a></li>
                                <li><a href=""> Dropdown<span class="badge badge-danger">NEW</span></a> </li>
                                <li><a href="">Team members</a> </li>
                                <li><a href=""> Grid System</a></li>
                                <li><a href="">Icon Boxes</a> </li>
                                <li><a href=""> Icons<span class="badge badge-danger">NEW</span></a> </li>
                                <li><a href="https://localhost:44375/image">Images</a> </li>
                                <li><a href="">Labels and Badges</a> </li>
                                <li><a href="">Lightbox</a> </li>
                                <li><a href="">Lists & Bullet lists</a> </li>
                                <li><a href="">Modal</a> </li>
                                <li><a href="">Modal Strip</a> </li>
                                <li><a href="">Navbar & Navs</a> </li>
                                <li><a href="">Pagination & Pager</a> </li>
                                <li><a href="">Panels</a> </li>
                                <li><a href="">Pie charts</a> </li>
                                <li><a href="">Popover & tooltips</a> </li>
                                <li><a href="">Pricing tables</a> </li>
                                <li><a href="">Progress bars</a> </li>
                                <li><a href="">Responsive utilities</a> </li>
                                <li><a href=""> Sections</a></li>
                                <li><a href="">Smooth Scrolling</a> </li>
                                <li><a href="">Social Icons</a> </li>
                                <li><a href="">Text Boxes</a> </li>
                                <li><a href="">Tabs</a> </li>
                                <li><a href=""> Testimonials</a></li>
                                <li><a href="">Toggles</a> </li>
                                <li><a href="">Typography</a> </li>
                                <li><a href="">Text Rotator</a> </li>
                            </ul>
                            <label>Forms</label>
                            <ul>
                                <li><a href="https://localhost:44375/form">Form Elements</a> </li>
                                <li><a href="">BS Switch<span class="badge badge-danger">NEW</span></a> </li>
                                <li><a href=""> Clipboard<span class="badge badge-danger">NEW</span></a> </li>
                                <li><a href="https://localhost:44375/datapicker">Date & Time Pickers</a> </li>
                                <li><a href=""> Range Slider<span class="badge badge-danger">NEW</span></a> </li>
                                <li><a href="">Switch Toggle<span class="badge badge-danger">NEW</span></a> </li>
                            </ul>
                            <label>Charts</label>
                            <ul>
                                <li><a href="">ChartJS<span class="badge badge-danger">NEW</span></a> </li>
                                <li><a href="">amCharts<span class="badge badge-danger">NEW</span></a> </li>
                                <li><a href="">MorrisJS<span class="badge badge-danger">NEW</span></a> </li>
                            </ul>
                            <label>Calendar</label>
                            <ul>
                                <li><a href="">Calendar<span class="badge badge-danger">NEW</span></a> </li>
                                <li><a href="">Google Calendar</a> </li>
                                <li><a href="">List Calendar</a> </li>
                            </ul>
                            <label>Maps</label>
                            <ul>
                                <li><a href="">Google Maps</a> </li>
                                <li><a href="">amChart Maps</a> </li>

                            </ul>
                            <label>Tables</label>
                            <ul>
                                <li><a href="https://localhost:44375/datatable"> Data Tables<span class="badge badge-danger">NEW</span></a></li>
                                <li><a href=""> Basic</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-9 default">
                        <h6>Default Buttons</h6>
                        <div class="row">

                            <div class="col-3">
                                <button type="button" class="mini btn-primary btn-xs">Mini</button>

                            </div>
                            <div class="col-lg-3">

                                <button type="button" class="small btn-primary btn-sm">Small</button>

                            </div>
                            <div class="col-3">
                                <button type="button" class="default btn-primary">Default</button>
                            </div>
                            <div class="col-3">
                                <button type="button" class="large btn-lg btn-primary">Large</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-9 light">
                                <h6>Light Buttons</h6>
                                <div class="row">

                                    <div class="col-3">
                                        <button type="button" class="mini btn-light btn-xs">Mini</button>

                                    </div>
                                    <div class="col-lg-3">

                                        <button type="button" class="small btn-light btn-sm">Small</button>

                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="default btn-light">Default</button>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="large btn-lg btn-light">Large</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-9 dark-button">
                                <h6>Dark Buttons</h6>
                                <div class="row">

                                    <div class="col-3">
                                        <button type="button" class="mini btn-dark btn-xs">Mini</button>

                                    </div>
                                    <div class="col-lg-3">

                                        <button type="button" class="small btn-dark btn-sm">Small</button>

                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="default btn-dark">Default</button>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="large btn-lg btn-dark">Large</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-9 rounded-buttons">

                                <h6>Rounded Buttons</h6>
                                <div class="row ">
                                    <div class="col-3  ">
                                        <button type="button" class="btn btn-primary">Default</button>
                                    </div>
                                    <div class="col-3 ">
                                        <button type="button" class="btn btn-outline-primary">Outline</button>

                                    </div>
                                    <div class="col-3 ">
                                        <button type="button" class="btn btn-dark">Dark</button>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class=" btn-light">Dark</button>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-9 outline">

                                <h6>Outline Buttons</h6>
                                <div class="row">
                                    <div class="col-3 ">
                                        <button type="button" class="btn btn-outline-primary">Default</button>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="  btn btn-outline-primary">Rounded</button>

                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="btn btn-outline-dark">Dark</button>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="rounded  btn btn-outline-dark">Dark</button>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-9 shadow">

                                <h6>Shadow Buttons</h6>
                                <div class="row">
                                    <div class="col-3 ">
                                        <button type="button" class="btn btn-primary">Default</button>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="  btn-light">Rounded</button>

                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="btn btn-outline-dark">Dark</button>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class=" btn btn-outline-dark">Dark</button>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-9 icon-button">

                                <h6>With icon holders</h6>
                                <div class="row">
                                    <div class="col-3">
                                        <button type="button" class="btn btn-primary">Default <span><i class="fa fa-map-marker-alt"></i></span> </button>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="  btn-light">Light<span><i class="fa fa-map-marker-alt"></i></span> </button>

                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="  btn btn-outline-primary">Dark<span><i class="fa fa-map-marker-alt"></i></span> </button>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="  btn btn-dark">Dark <span><i class="fa fa-map-marker-alt"></i></span></button>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-9 special-button">
                                <h1>Special Button</h1>
                                <h5>Build beautiful website easy. Polo has an outstanding and friendly support!</h5>
                                <button type="button" class="btn-lg btn-light">Creative Button <i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                        <hr>

                        <div class="row ">
                            <div class="col-9 social-buttons">
                                <h6>Social buttons</h6>
                                <button type="button" class="btn  facebook"><i class="fab fa-facebook-f"></i></button>
                                <button type="button" class="btn  twitter"><i class="fab fa-twitter"></i></button>
                                <button type="button" class="btn  linkedin"><i class="fab fa-linkedin"></i></button>
                                <button type="button" class="btn dribbble"><i class="fab fa-dribbble"></i> </button>
                                <button type="button" class="btn g-plus"><i class="fab fa-google-plus-g"></i> </button>
                                <button type="button" class="btn instagram"><i class="fab fa-instagram"></i> </button>
                                <button type="button" class="btn pinterest"><i class="fab fa-pinterest"></i> </button>
                                <button type="button" class="btn dropbox"><i class="fab fa-dropbox"></i></button>
                                <button type="button" class="btn flickr"><i class="fab fa-flickr"></i> </button>
                                <button type="button" class="btn tumblr"><i class="fab fa-tumblr"></i> </button>
                                <button type="button" class="btn skype"><i class="fab fa-skype"></i></button>
                                <button type="button" class="btn youtube"><i class="fab fa-youtube"></i></button>
                                <button type="button" class="btn github"><i class="fab fa-github"></i></button>

                                <br>
                                <button type="button" class="btn  facebook"> <span><i class="fab fa-facebook-f"></i></span> Facebook</button>
                                <button type="button" class="btn  twitter"><span><i class="fab fa-twitter"></i></span>Twitter</button>
                                <button type="button" class="btn  linkedin"><span><i class="fab fa-linkedin"></i></span>Linkedin</button>
                                <button type="button" class="btn dribbble"> <span><i class="fab fa-dribbble"></i></span>Dribbble</button>
                                <button type="button" class="btn g-plus"><span><i class="fab fa-google-plus-g"></i></span>Google + </button>
                                <button type="button" class="btn instagram"> <span><i class="fab fa-instagram"></i></span>Instagram</button>
                                <button type="button" class="btn pinterest"><span><i class="fab fa-pinterest"></i> </span>Pinterest</button>
                                <button type="button" class="btn dropbox"><span><i class="fab fa-dropbox"></i></span>Dropbox</button>
                                <button type="button" class="btn flickr"><span><i class="fab fa-flickr"></i></span> Flickr</button>
                                <button type="button" class="btn tumblr"><span><i class="fab fa-tumblr"></i></span>Tumblr </button>
                                <button type="button" class="btn skype"><span><i class="fab fa-skype"></i></span>Skype</button>
                                <button type="button" class="btn youtube"><span><i class="fab fa-youtube"></i></span>Youtube</button>
                                <button type="button" class="btn github"><span><i class="fab fa-github"></i></span>Github</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-9">
                                <h6>Block Buttons</h6>
                                <button type="button" class="btn-primary btn-block">Default</button>
                                <button type="button" class="rounded btn-primary btn-block">Rounded</button>
                                <button type="button" class=" btn-dark btn-block">Dark</button>
                                <button type="button" class="btn  btn-outline-dark btn-block">Dark</button>
                            </div>


                        </div>

                        <hr>
                        <div class="row">

                            <div class="col-9">
                                <h6>Bootstrap buttons</h6>
                                <button type="button" class="btn btn-primary">Primary</button>
                                <button type="button" class="btn btn-dark">Secondary</button>
                                <button type="button" class="btn btn-info">Info</button>
                                <button type="button" class="btn btn-success">Success</button>
                                <button type="button" class="btn btn-warning">Warning</button>
                                <button type="button" class="btn btn-danger">Danger</button>
                                <button type="button" class="btn btn-light">Light</button>
                                <button type="button" class="btn btn-dark">Dark</button>
                            </div>





                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>

